{% extends 'bet/base.html' %}{% load featured_html %}{% load staticfiles pipeline %}

{% block content %}
<section id="services">
        <div class="container inner-top inner-bottom-sm">

          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Tell me about Karma...</h1>
                <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="row inner-top-sm">

            <div class="col-sm-2">
              <div class="icon pull-right">
                <i class="icon-lamp icn lg"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-sm-4 inner-bottom-sm">
              <h2>Strategy</h2>
              <p class="text-small">Magnis modipsae lib voloratati andigen dapeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibuses conecus es dem tumquam core tibusam eumenis et consent accullignis posae modis volor.</p>
            </div><!-- /.col -->

            <div class="col-sm-2">
              <div class="icon pull-right">
                <i class="icon-flow-tree icn lg"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-sm-4 inner-bottom-sm">
              <h2>User Experience</h2>
              <p class="text-small">Magnis modipsae lib voloratati andigen dapeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibuses conecus es dem tumquam core tibusam eumenis et consent accullignis posae modis volor.</p>
            </div><!-- /.col -->

          </div><!-- /.row -->

          <div class="row">

            <div class="col-sm-2">
              <div class="icon pull-right">
                <i class="icon-beaker icn lg"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-sm-4 inner-bottom-sm">
              <h2>Design</h2>
              <p class="text-small">Magnis modipsae lib voloratati andigen dapeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibuses conecus es dem tumquam core tibusam eumenis et consent accullignis posae modis volor.</p>
            </div><!-- /.col -->

            <div class="col-sm-2">
              <div class="icon pull-right">
                <i class="icon-code icn lg"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-sm-4 inner-bottom-sm">
              <h2>Technology</h2>
              <p class="text-small">Magnis modipsae lib voloratati andigen dapeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibuses conecus es dem tumquam core tibusam eumenis et consent accullignis posae modis volor.</p>
            </div><!-- /.col -->

          </div><!-- /.row -->

          <div class="row">

            <div class="col-sm-2">
              <div class="icon pull-right">
                <i class="icon-thumbs-up-1 icn lg"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-sm-4 inner-bottom-sm">
              <h2>Social</h2>
              <p class="text-small">Magnis modipsae lib voloratati andigen dapeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibuses conecus es dem tumquam core tibusam eumenis et consent accullignis posae modis volor.</p>
            </div><!-- /.col -->

            <div class="col-sm-2">
              <div class="icon pull-right">
                <i class="icon-megaphone-1 icn lg"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->

            <div class="col-sm-4 inner-bottom-sm">
              <h2>Marketing</h2>
              <p class="text-small">Magnis modipsae lib voloratati andigen dapeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibuses conecus es dem tumquam core tibusam eumenis et consent accullignis posae modis volor.</p>
            </div><!-- /.col -->

          </div><!-- /.row -->

        </div><!-- /.container -->
      </section>
{% endblock %}

{% block javascript_footer %}
{% endblock %}