{% extends 'bet/base.html' %}{% load featured_html %}{% load staticfiles pipeline %}


{% block content %}
  <div ng-app="ProjectListApp">
    <!-- ============================================================= SECTION – HERO ============================================================= -->
    <section id="hero" class="dark-bg">
      <div class="container">
        <div class="row inner">
          <div class="col-sm-10 center-block text-center">
            <header class="text-center">
              <img src="/static/images/karma.png" class="logo" alt=""/>
              <h1 style="margin:0px!important;color:#F6EFCA;">Karma</h1>
              <h2 style="color:#B7CD98;">Do good.</h2>
              <p>Challenge yourself &amp; your friends to a karma-bet. Then, donate the proceeds.</p>
            </header>
            <a href="{% url 'bet:create' %}" class="btn btn-primary">Generate Karma</a>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>
    <!-- ============================================================= SECTION – HERO : END ============================================================= -->

    <!-- ============================================================= SECTION – SELECTED WORKS ============================================================= -->
    <section id="selected-works" class="dark-bg">
      <div class="portfolio">
        <div class="container inner-bottom-xs text-center">
          <h2>Worthy Causes</h2>
          <ul class="filter text-center">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".refugees">Refugees</a></li>
            <li><a href="#" data-filter=".children">Children</a></li>
            <li><a href="#" data-filter=".animals">Animals</a></li>
            <li><a href="#" data-filter=".disease">Disease</a></li>
          </ul><!-- /.filter -->
        </div>

        <ul class="items fullscreen">
          {% for project in recipient_list %}
            <li class="item thumb {{ project.tags|join:" " }}">
              <a href="{{ project.url }}">
                <figure>
                  <figcaption class="text-overlay">
                    <div class="info">
                      <h4>{{ project.name }}</h4>
                      <p>{{ project.tag }}</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="{{ project.picture }}" class="img-responsive" style="min-height:150px;" alt="{{ project.name }}">
                </figure>
              </a>
            </li><!-- /.item -->
          {% endfor %}
        </ul><!-- /.items -->

      </div><!-- /.portfolio -->
    </section>
    <!-- ============================================================= SECTION – SELECTED WORKS : END ============================================================= -->

    <!-- ============================================================= SECTION – REASONS ============================================================= -->
    <section id="reasons">
      <div class="container inner">
        <div class="row">
          <div class="col-md-8 col-sm-9 center-block text-center">
            <header>
              <h1>Most recent karma-bets<br/><small>get inspired!</small></h1>
              <p><em>Pro-tip 1:</em> You can copy karma-bets! This gives credit to the original owner as well.</p>
              <p><em>Pro-tip 2:</em> You can bet for or against your friends.</p>
            </header>
          </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row inner-top-sm">
          <div class="col-xs-12">
            {% if object_list %}
              <div class="tabs tabs-reasons tabs-circle-top tab-container">
                <ul class="etabs text-center">
                  {% for bet in bet_list %}
                    <li class="tab"><a href="#{{ bet.slug }}"><div>{{ forloop.counter }}</div>{{ bet.name }}</a></li>
                  {% endfor %}
                </ul><!-- /.etabs -->

                <div class="panel-container">
                  {% for bet in bet_list %}
                    <div class="tab-content" id="{{ bet.slug }}">
                      <div class="row">
                        <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                          <figure>
                            {% if bet.recipients.picture %}
                              <img src="{{ bet.recipients.picture }}" alt="{{ bet.recipients.name }}">
                            {% else %}
                              <img src="http://placehold.it/350x150" alt="{{ bet.recipients.name }}">
                            {% endif %}
                          </figure>
                        </div><!-- /.col -->

                        <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                          <h3>{{ bet.name }}</h3>
                          <p>{{ bet.description }}</p>
                        </div><!-- /.col -->

                      </div><!-- /.row -->
                    </div><!-- /.tab-content -->
                  {% endfor %}
                </div><!-- /.panel-container -->
              </div><!-- /.tabs -->
            {% endif %}
          </div><!-- /.col -->
        </div><!-- /.row -->

      </div><!-- /.container -->
    </section>
    <!-- ============================================================= SECTION – REASONS : END ============================================================= -->

    <!-- ============================================================= SECTION – SHARE ============================================================= -->
    <section id="share" class="light-bg">
      <div class="row">

        <div class="col-sm-4 reset-padding-right">
          <a href="#" class="btn-share-md">
            <p class="name">Facebook</p>
            <i class="icon-s-facebook"></i>
            <p class="counter">1080</p>
          </a>
        </div><!-- /.col -->

        <div class="col-sm-4 reset-padding">
          <a href="#" class="btn-share-md">
            <p class="name">Twitter</p>
            <i class="icon-s-twitter"></i>
            <p class="counter">1263</p>
          </a>
        </div><!-- /.col -->

        <div class="col-sm-4 reset-padding-left">
          <a href="#" class="btn-share-md">
            <p class="name">Google +</p>
            <i class="icon-s-gplus"></i>
            <p class="counter">963</p>
          </a>
        </div><!-- /.col -->

      </div><!-- /.row -->
    </section>
    <!-- ============================================================= SECTION – SHARE : END ============================================================= -->
  </div>

{% endblock %}


{% javascript 'common' %}
{% javascript 'angular' %}
{% block javascript_footer %}
  {% javascript 'project-list' %}
{% endblock %}