{% load pipeline staticfiles %}<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}KarmApp - do yourself good{% endblock %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  {% block head %}{% endblock %}
  <!-- inject:css -->
  {% block compressedcss %}
  {% stylesheet 'theme' %}
  {% endblock %}
  <!-- endinject -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css.map">
  {% block css_header %}{% endblock %}
  {% block javascript_header %}{% endblock %}
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">KarmaApp</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'bet:list' %}">Sources of Karma</a></li>
          <li><a href="{% url 'bet:create' %}">New Source of Karma</a></li>
        <ul class="nav nav-pills pull-right" style="margin-top:5px;">
        {% if request.user.is_authenticated %}
          <li>Signed in as {{ user.get_full_name|default:user.email }}</li>
          <li><a href="">Logout</a></li>
        {% else %}
          <li><a href="">Sign in</a></li>
        {% endif %}
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
  <p>&nbsp;</p>

  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <script src="{% static 'admin/js/jquery.js' %}"></script>
  <link rel="stylesheet" href="{% static 'rest_framework/css/bootstrap.min.css' %}"/>
<!--   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
  {% javascript 'angular' %}
  {% block javascript_footer %}{% endblock %}
  {% block compressedjs %}{% endblock %}
</body>
</html>
