{% extends 'bet/base.html' %}{% load staticfiles pipeline %}

{% block css_header %}
  {% stylesheet 'common' %}
{% endblock %}

{% block content %}
<article ng-app="ProjectListApp" id="text" class="section-wrapper clearfix" data-custom-background-img="{% static 'images/other_images/bg1.jpg' %}">

  <div class="content-wrapper clearfix">
      <div class="row">
        <h1 class="section-title">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} <img data-img-src="{% static 'images/other_images/transp-image5b.png' %}" class="lazy pull-right" alt="Lorem Ipsum"></h1>
      </div>
      <div class="col-md-6">
        {% verbatim %}
        <div class="row" ng-controller="SelectedProjectController">
            <div class="loading" ng-hide="project">Select a project on the right, or simply continue</div>
            <a href="javascript:false;" ng-show="project" ng-click="clearSelectedProject()" class="btn btn-warning">Not this Project</a>
            <div class="media" ng-show="project">
                <div class="media-body"><b class="media-heading">{{ project.name }}</b></div>
                <div class="media-right media-middle"><a href=""><img class="media-object img-rounded" src="{{ project.picture }}" alt="{{ project.name }}" /></a></div>
            </div>
        </div>
        {% endverbatim %}
        <form name="" id="" action="{{ form.action }}" method="POST">{% csrf_token %}
          {{ wizard.management_form }}
          {{ wizard.form.as_p }}
          <button class="btn btn-primary" type="submit" name="">Continue</button>
        </form>
      </div>

      <div class="col-md-6">
      {% verbatim %}
          <div class="" ng-controller="ProjectListController">
            <div class="loading" ng-show="projects.length==0">Please wait...</div>
            <div class="well">
              <a ng-show="previous_page" href="#" ng-click="go(previous_page)">previous</a>
              <a ng-show="next_page" href="#" ng-click="go(next_page)">next</a>
            </div>
            <div class="media" ng-show="projects" ng-repeat="project in projects track by $index" ng-click="selectProject(project)" ng-style="{cursor: 'pointer'}">
                <div class="media-body">
                    <b class="media-heading">{{ project.name }}</b>
                    <div class="text-small" ng-bind-html="project.short_description"></div>
                </div>
                <div class="media-right media-top">
                    <a href="#"><img class="media-object img-rounded" src="{{ project.picture }}" alt="{{ project.name }}" /></a>
                </div>
            </div>
          </div>
      {% endverbatim %}
      </div>

  </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->

{% endblock %}

{% block javascript_footer %}
  {% javascript 'project-list' %}
{% endblock %}