{% extends 'bet/base.html' %}{% load staticfiles pipeline %}

{% block css_header %}
{% stylesheet 'dashboard' %}
{% endblock %}

{% block content %}
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<div class="row" ng-app="ProjectListApp">
  <div class="col-md-6">
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form name="" id="" action="{{ form.action }}" method="POST">{% csrf_token %}
      {{ wizard.management_form }}
      {{ wizard.form.as_p }}
      <button class="btn btn-primary" type="submit" name="">Continue</button>
    </form>

    {% verbatim %}
    <div ng-controller="SelectedProjectController">
      <div class="loading" ng-hide="project">Select a project on the right, or simply continue</div>
      <div class="media" ng-show="project">
        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object img-rounded" src="{{ project.picture }}" alt="{{ project.name }}" />
          </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ project.name }}</h4>
        </div>
      </div>
      <a href="javascript:false;" ng-show="project" ng-click="clearSelectedProject()" class="btn btn-warning">Not this Project</a>
    </div>
    {% endverbatim %}

  </div>
  <div class="col-md-6">

    {% verbatim %}
    <div ng-controller="ProjectListController">
      <div class="loading" ng-show="projects.length==0">Please wait...</div>

      <div class="well">
        <a ng-show="previous_page" href="#" ng-click="go(previous_page)">previous</a>
        <a ng-show="next_page" href="#" ng-click="go(next_page)">next</a>
      </div>

      <div class="media" ng-show="projects" ng-repeat="project in projects track by $index" ng-click="selectProject(project)" ng-style="{cursor: 'pointer'}">
        <div class="media-left media-top">
          <a href="#">
            <img class="media-object img-rounded" src="{{ project.picture }}" alt="{{ project.name }}" />
          </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ project.name }}</h4>
            <span ng-bind-html="project.short_description"></span>
        </div>
      </div>

    </div>
    {% endverbatim %}

  </div>
</div>

{% endblock %}

{% block javascript_footer %}
{% javascript 'project-list' %}
{% endblock %}