{% extends 'bet/base.html' %}{% load featured_html %}{% load staticfiles pipeline %}

{% block css_header %}
  {% stylesheet 'common' %}
{% endblock %}

{% block content %}
  <div ng-app="ProjectListApp">
    <div class="container inner">
      <div class="row">
        <div class="col-md-8 inner-right-md">

          <section id="hero">
          <header>
            <h1>Generate Karma</h1>
            <small>Select one of our Worthy Causes, or create your own</small>
          </header>
          </section>

          <!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->
          <section id="contact-form">
            <h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>

            {% verbatim %}
            <div class="row well" ng-controller="SelectedProjectController">
              <h3>Selected Worthy Cause</h3>
              <div class="media">
                  <div class="media-body"><b class="media-heading">{{ project.name || 'Create a new worthy Cause' }}</b><br/><a href="javascript:false;" ng-show="project" ng-click="clearSelectedProject()" class="btn btn-warning">Change</a></div>
                  <div class="media-right media-middle"><a href=""><img class="media-object img-rounded" src="{{ project.picture }}" alt="{{ project.name }}" /></a></div>
              </div>
            </div>
            {% endverbatim %}

            <form name="" id="" action="{{ form.action }}" method="POST">{% csrf_token %}
              {{ wizard.management_form }}
              {{ wizard.form.as_p }}
              <button class="btn btn-default btn-submit" type="submit" name="">Continue</button>
            </form>

          </section>
          <!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->

          <!-- ============================================================= SECTION – CONTACTS ============================================================= -->
          <section id="contacts" class="inner-top-md inner-bottom-sm">

            <h2>Contacts</h2>
            <p>Magnis modipsae voloratati andigen daepeditem quiate re aut labor. <br>Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>

            <div class="row">
              <div class="col-sm-6">
                <h3>REEN</h3>
                <ul class="contacts">
                  <li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
                  <li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
                  <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
                </ul><!-- /.contacts -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </section>
          <!-- ============================================================= SECTION – CONTACTS : END ============================================================= -->

        </div><!-- ./col -->
        <div class="col-md-4" ng-controller="ProjectListController">
          <!-- ============================================================= SECTION – CONTACT NAMES ============================================================= -->
          {% verbatim %}
            <section ng-cloak id="contact-names" class="light-bg inner-xs inner-left-xs inner-right-xs">
              <h3 class="team-headline sidelines text-center"><span>Top Projects</span></h3>

              <div class="text-center row">
                <a class="btn btn-default" ng-show="previous_page" href="javascript:false;" ng-click="go(previous_page)">Previous</a>
                <a class="btn btn-default" ng-show="next_page" href="javascript:false;" ng-click="go(next_page)">Next</a>
              </div>


              <div class="row thumbs gap-md text-center" ng-show="projects" ng-repeat="project in projects track by $index">
              <div class="loading" ng-show="projects.length==0">Please wait...</div>
                <div class="col-sm-12 thumb" ng-style="{'opacity': 100}">
                  <figure class="member">
                    <div class="member-image">
                      <div class="text-overlay">
                        <div class="info" ng-click="selectProject(project)">
                          <h3>Select this Cause</h3>
                        </div><!-- /.info -->
                      </div><!-- /.text-overlay -->

                      <a href="{{ project.url }}">
                        <img ng-src="{{ project.picture }}" alt="{{ project.name }}">
                      </a>

                    </div><!-- /.member-image -->

                    <figcaption class="member-details bordered no-top-border">
                      <h3>
                        {{ project.name }}
                        <span>{{ project.short_description }}</span>
                      </h3>
                    </figcaption>

                  </figure>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </section>
          {% endverbatim %}
          <!-- ============================================================= SECTION – CONTACT NAMES : END ============================================================= -->

        </div><!-- /.col -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </div>


{% endblock %}

{% block javascript_footer %}
  {% javascript 'project-list' %}
{% endblock %}