{% extends 'bet/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6">
  <ul>
    {% for bet in object_list %}
    <li><a href="{% url 'bet:detail' slug=bet.slug %}">{{ bet }}</a></li>
    {% empty %}
    <li><a href="{% url 'bet:create' %}">New source of Karma</a></li>
    {% endfor %}
  </ul>
  </div>
  {% if user.is_authenticated %}
  <div class="col-md-6">
    {% for bet in user.bet_set.all %}
    <li><a href="{% url 'bet:detail' slug=bet.slug %}">{{ bet }}</a></li>
    {% empty %}
    <li><a href="{% url 'bet:create' %}">Why not create a New source of Karma</a></li>
    {% endfor %}
  </div>
  {% else %}
    <b>Login here</b>
  {% endif %}
</div>
{% endblock %}